<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>Filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>Servlet.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/Servlet/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addStudentServlet</servlet-name>
        <servlet-class>Servlet.addStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addStudentServlet</servlet-name>
        <url-pattern>/Servlet/addStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentInfoChangeServlet</servlet-name>
        <servlet-class>Servlet.StudentInfoChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentInfoChangeServlet</servlet-name>
        <url-pattern>/Servlet/StudentInfoChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PassWordChangeServlet</servlet-name>
        <servlet-class>Servlet.PassWordChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassWordChangeServlet</servlet-name>
        <url-pattern>/Servlet/PassWordChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentSearchServlet</servlet-name>
        <servlet-class>Servlet.StudentSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentSearchServlet</servlet-name>
        <url-pattern>/Servlet/StudentSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentSubmitServlet</servlet-name>
        <servlet-class>Servlet.StudentSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentSubmitServlet</servlet-name>
        <url-pattern>/Servlet/StudentSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentSubmitDelServlet</servlet-name>
        <servlet-class>Servlet.StudentSubmitDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentSubmitDelServlet</servlet-name>
        <url-pattern>/Servlet/StudentSubmitDelServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveSessionServlet</servlet-name>
        <servlet-class>Servlet.RemoveSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveSessionServlet</servlet-name>
        <url-pattern>/Servlet/RemoveSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadHandleServlet</servlet-name>
        <servlet-class>Servlet.UploadHandleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadHandleServlet</servlet-name>
        <url-pattern>/Servlet/UploadHandleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssistantInfoChangeServlet</servlet-name>
        <servlet-class>Servlet.AssistantInfoChangeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AssistantInfoChangeServlet</servlet-name>
        <url-pattern>/Servlet/AssistantInfoChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssistantPassWordServlet</servlet-name>
        <servlet-class>Servlet.AssistantPassWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssistantPassWordServlet</servlet-name>
        <url-pattern>/Servlet/AssistantPassWordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssistantChangeSubmitServlet</servlet-name>
        <servlet-class>Servlet.AssistantChangeSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssistantChangeSubmitServlet</servlet-name>
        <url-pattern>/Servlet/AssistantChangeSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssistantItermSearchServlet</servlet-name>
        <servlet-class>Servlet.AssistantItermSearchServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>AssistantItermSearchServlet</servlet-name>
        <url-pattern>/Servlet/AssistantSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssistaantSubmitServlet</servlet-name>
        <servlet-class>Servlet.AssistaantSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssistaantSubmitServlet</servlet-name>
        <url-pattern>/Servlet/AssistantSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssistantDelSubmitServlet</servlet-name>
        <servlet-class>Servlet.AssistantDelSubmitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AssistantDelSubmitServlet</servlet-name>
        <url-pattern>/Servlet/AssistantDelSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherInfoChangeServlet</servlet-name>
        <servlet-class>Servlet.TeacherInfoChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherInfoChangeServlet</servlet-name>
        <url-pattern>/Servlet/TeacherInfoChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherPassWordServlet</servlet-name>
        <servlet-class>Servlet.TeacherPassWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherPassWordServlet</servlet-name>
        <url-pattern>/Servlet/TeacherPassWordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherChangeSubmitServlet</servlet-name>
        <servlet-class>Servlet.TeacherChangeSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherChangeSubmitServlet</servlet-name>
        <url-pattern>/Servlet/TeacherChangeSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminScoreServlet</servlet-name>
        <servlet-class>Servlet.AdminScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminScoreServlet</servlet-name>
        <url-pattern>/Servlet/AdminScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminFeedBackServlet</servlet-name>
        <servlet-class>Servlet.AdminFeedBackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminFeedBackServlet</servlet-name>
        <url-pattern>/Servlet/AdminFeedBackServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminTotalScoreServlet</servlet-name>
        <servlet-class>Servlet.AdminTotalScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTotalScoreServlet</servlet-name>
        <url-pattern>/Servlet/AdminTotalScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminNoSubmitServlet</servlet-name>
        <servlet-class>Servlet.AdminNoSubmitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminNoSubmitServlet</servlet-name>
        <url-pattern>/Servlet/AdminNoSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminYesSubmitServlet</servlet-name>
        <servlet-class>Servlet.AdminYesSubmitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminYesSubmitServlet</servlet-name>
        <url-pattern>/Servlet/AdminYesSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminNoFeedBackServlet</servlet-name>
        <servlet-class>Servlet.AdminNoFeedBackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminNoFeedBackServlet</servlet-name>
        <url-pattern>/Servlet/AdminNoFeedBackServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>TeacheCheckServlet</servlet-name>
    <servlet-class>Servlet.TeacheCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TeacheCheckServlet</servlet-name>
        <url-pattern>/Servlet/TeacherCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminPointAssistantServlet</servlet-name>
        <servlet-class>Servlet.AdminPointAssistantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPointAssistantServlet</servlet-name>
        <url-pattern>/Servlet/AdminPointAssistantServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminPointTeacherServlet</servlet-name>
        <servlet-class>Servlet.AdminPointTeacherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminPointTeacherServlet</servlet-name>
        <url-pattern>/Servlet/AdminPointTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminDeyuTogetherServlet</servlet-name>
        <servlet-class>Servlet.AdminDeyuTogetherServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminDeyuTogetherServlet</servlet-name>
        <url-pattern>/Servlet/AdminDeyuTogetherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminZhiyuTogetherServlet</servlet-name>
        <servlet-class>Servlet.AdminZhiyuTogetherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminZhiyuTogetherServlet</servlet-name>
        <url-pattern>/Servlet/AdminZhiyuTogetherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminTiyuTogetherServlet</servlet-name>
        <servlet-class>Servlet.AdminTiyuTogetherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminTiyuTogetherServlet</servlet-name>
        <url-pattern>/Servlet/AdminTiyuTogetherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListFileServlet</servlet-name>
        <servlet-class>Servlet.ListFileServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>ListFileServlet</servlet-name>
        <url-pattern>/Servlet/ListFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownLoadServlet</servlet-name>
        <servlet-class>Servlet.DownLoadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownLoadServlet</servlet-name>
        <url-pattern>/Servlet/DownLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentListFileServlet</servlet-name>
        <servlet-class>Servlet.StudentListFileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentListFileServlet</servlet-name>
        <url-pattern>/Servlet/StudentListFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>TeacherListFileServlet</servlet-name>
    <servlet-class>Servlet.TeacherListFileServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>TeacherListFileServlet</servlet-name>
        <url-pattern>/Servlet/TeacherListFileServlet</url-pattern>
    </servlet-mapping>
</web-app>